.nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
}
.nav li{
    margin-left: 20px;

}
.nav a{
    text-decoration: none;
    color: white;
}
.nav a:active,
.nav a:hover{
    color: red;
}
.button{
    font: inherit;
    padding: 10px 30px;
    background: purple;
    border-color: 2px solid black;
    border-radius: 23px;
    color: white;
    cursor: pointer;
    box-shadow: 2px 1px 5px rgba(red, green, blue, alpha);
}
.button:active,
.button:hover{
    background: #741188;
    border-color: #741188;
}